.port {
    width: 290px;
    height: 75px;
    background-color: rgba(200,200,200,0.4);
    position: absolute;
    right: -20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    z-index: 1;

    &.active {
        outline: 2px dashed #f00;
    }

    &.hover {
        outline: 2px dashed #333333;
    }

    &__market {
        top: 10vh;
    }

    &__pyramid {
        top: 32vh;
    }

    &__temple {
        top: 47vh;
    }

    &__obelisk {
        top: 63vh;
    }

    &__burial-chamber {
        top: 80vh;
    }
}