.storage {
    width: 185px;
    height: 136px;
    display: inline-block;
    margin: 5px;
    z-index: 4;
    position: relative;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .8);
    border-radius: 17px;
    padding-bottom: 20px;
    background-repeat: no-repeat;


    &__brown {
        background-image: url("../images/storage-brown.png");
        background-size: 100% auto;
    }

    &__white {
        background-image: url("../images/storage-white.png");
        background-size: 100% auto;
    }

    &__gray {
        background-image: url("../images/storage-gray.png");
        background-size: 100% auto;
    }

    &__black {
        background-image: url("../images/storage-black.png");
        background-size: 100% auto;
    }

    &__newStonesBtn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .stone {
        position: absolute !important;

        &:nth-child(1) {
            top: 19px;
            left: 19px;
        }

        &:nth-child(2) {
            top: 19px;
            left: 65px;
        }

        &:nth-child(3) {
            top: 19px;
            left: 112px;
        }

        &:nth-child(4) {
            top: 66px;
            left: 42px;
        }

        &:nth-child(5) {
            top: 67px;
            left: 88px;
        }
    }
}